pkgs = ["nodejs"] 

commands = ["echo 'Node.js is now installed via pkgs!'"]

[phases.build]
commands = ["cd server && npm install"]

[phases.start]
commands = ["cd server && npm start"]

[env]
NODE_VERSION = "20"
